<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifactory-Remote" value="https://artifactory.danskenet.net/artifactory/api/nuget/remote-nuget-nuget.org" />
    <add key="Artifactory-JoinedLocal" value="https://artifactory.danskenet.net/artifactory/api/nuget/joined-nuget-local" />
  </packageSources>
</configuration>